{% extends 'mailing/base.html' %}
{% block content %}

<div class="container mt-4">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h2 class="my-0 font-weight-normal">{{object.title}}</h2>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <strong>Сообщение :  </strong><li>{{object.message}}</li>
                    </ul>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                         <strong>Получатели:</strong>
                        {% for client in clients_all %}
                            {% if client in object.clients.all %}
                                <li>{{ client }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <strong>Статус : </strong><li>{{object.sending_status}} </li>
                        <strong>Дата следующей рассылки: </strong><li>{{object.time_first_mailing}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}